name: QA

on: [pull_request, push, merge_group]

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Executes "typos ."
      - uses: crate-ci/typos@v1.16.24
